@model ProposalViewModel

<script type="text/javascript">
//    $(document).ready(function () {
//        $("#divHeader").width($(window).width()-40);
//    });
//
//    $(window).resize(function () {
//        $("#divHeader").width($(window).width()-40);
//    });
</script>

<div class="block block-themed block-rounded" id="divHeader">
    <div class="block-header block-header-default bg-pulse">
        <h3 class="block-title">@Model.ProposalInfo.ScheduleType.Description Information @Model.ProposalInfo.ScheduleName</h3>
        <div class="block-options">
            <button type="button" class="btn-block-option" data-toggle="block-option" data-action="content_toggle"></button>
        </div>
    </div>
    <div class="block-content">
        <div class="row gutters-tiny">
            <div class="col-md-5">
                <table class="dataTable display compact nowrap" style="width:100%">
                    <tr>
                        <td><label for="upfront_name">Schedule Name</label></td>
                        <td colspan="2">@Model.ProposalInfo.ScheduleName</td>
                    </tr>
                    <tr>
                        <td><label>Type</label></td>
                        <td colspan="2">@Model.ProposalInfo.ScheduleType.Description</td>
                    </tr>
                    <tr>
                        <td><label>Country</label></td>
                        <td colspan="2">@Model.ClientInfo.Country.CountryLong</td>
                    </tr>
                    <tr>
                        <td><label>Client</label></td>
                        <td colspan="2">@Model.ProposalInfo.Client.ClientName</td>
                    </tr>
                    <tr>
                        <td><label for="upfront_name">Buyer</label></td>
                        <td colspan="2">
                            @if (Model.ProposalInfo.BuyerUser != null)
                            {
                                @Model.ProposalInfo.BuyerUser.DisplayName
                            }
                        </td>
                    </tr>
                    <tr>
                        <td><label for="commission_structure">Commission Structure</label></td>
                        <td>@Model.ProposalInfo.Client.CommStructure</td>
                        <td>
                            <select class="DiscountPrice" id="DiscountPrice" name="DiscountPrice">
                                @if (Model.ClientCommissionRates.Count() > 0)
                                {
                                    @foreach (float rate in Model.ClientCommissionRates)
                                    {
                                        <option value="@rate">@String.Format("{0:n1}", rate*100)  %</option>
                                    }
                                }
                                else
                                {
                                    <option value="0">0  %</option>
                                }
                            </select>
                            <!--<span class="caret"></span>-->
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5">
                <table class="dataTable display compact nowrap" style="width:100%">
                    <tr>
                        <td><label for="upfront_name">Plan Year Type</label></td>
                        <td>@Model.ProposalInfo.PlanYearTypeString</td>
                    </tr>
                    <tr>
                        <td><label for="upfront_name">Plan Year</label></td>
                        <td>@Model.ProposalInfo.PlanYr</td>
                    </tr>
                    <tr>
                        <td><label>Quarter</label></td>
                        <td>@Model.ProposalInfo.QtrName</td>
                    </tr>
                    <tr>
                        <td><label for="upfront_name">Last Updated On</label></td>
                        <td>@Model.ProposalInfo.UpdateDtString</td>
                    </tr>
                    <tr>
                        <td><label for="upfront_name">Last Updated By</label></td>
                        <td>@Model.ProposalInfo.UpdatedBy.DisplayName</td>
                    </tr>
                    <tr>
                        <td><label for="client_exchange_rate">Client Exchange Rate</label></td>
                        <td>@String.Format("{0:n4}", Model.ClientExchangeRate)</td>
                    </tr>
                </table>
            </div>


            <div class="col-md-2">
                <div class="block-content block-content-full">
                    <div class="row py-10 text-center">
                        <div class="col-12">
                            <div class="font-size-h3 font-w600 text-info">N/A</div>
                            <div class="font-size-sm font-w600 text-uppercase text-muted">Available U/E</div>
                        </div>
                    </div>
                    <div class="row py-10 text-center">
                        <div class="col-12">
                            <div class="font-size-h3 font-w600 text-danger">N/A</div>
                            <div class="font-size-sm font-w600 text-uppercase text-muted">Booked UE</div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
</div>
