@model DisplayUpfrontsViewModel

@Html.Partial("_NavigationMenu", Model.LoggedOnUser)
'
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script language="javascript" type="text/javascript">

</script>

<main id="main-container">
    <div class="content">
        <!-- Dynamic Table Full -->
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">Upfronts</h3>
                <div class="block-options">
                    <button type="button" class="btn btn-alt-info" data-toggle='tooltip' title='Export to Excel' disabled><i class="fa fa-file-excel-o mr-5"></i> Export to Excel</button>
                    <button type="button" class="btn btn-alt-info" data-toggle='tooltip' title='Export to PDF' disabled><i class="fa fa-file-pdf-o mr-5"></i> Export to PDF</button>
                </div>
            </div>
            <div class="block-content block-content-full">
                <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/be_tables_datatables.js -->
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full" id="UpfrontTable" name="UpfrontTable">
                    <thead>
                        <tr>
                            <th class="text-center">Country</th>
                            <th>Upfront Name</th>
                            <th class="d-none d-sm-table-cell">Network Name</th>
                            <th class="d-none d-sm-table-cell">Buyer</th>
                            <th class="text-center">Quarter</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Last Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var upfronts in Model.Upfronts)
                        {
                            <tr>
                                <td class="text-center">@upfronts.Network.Country.CountryShort</td>
                                <td class="font-w600">@upfronts.Name</td>
                                <td class="d-none d-sm-table-cell">@upfronts.Network.StdNetName</td>
                                <td class="d-none d-sm-table-cell">@upfronts.BuyerName.LastName</td>
                                <td class="text-center">@upfronts.Quarter.QuarterName</td>
                                <td class="text-center">
                                    @if (upfronts.UpfrontLockedByUserId != null)
                                    {
                                        <button class='btn btn-lg btn-circle btn-alt-success mr-5 mb-5' type='button' data-toggle="popover" title="Upfront Locked" data-placement="top" data-content="@upfronts.UpfrontLockedDate @upfronts.UpfrontLockedBy.DisplayName"><i class='fa fa-lock'></i></button>
                                    }
                                    else
                                    {
                                        <button class='btn btn-lg btn-circle btn-alt-success mr-5 mb-5' type='button'><i class='fa fa-unlock'></i></button>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (upfronts.UpdatedByUserId != null)
                                    {
                                        @upfronts.UpdateDt
                                        <br />
                                        @upfronts.UpdatedByUser.DisplayName;
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>